h1, button, .centered {
    text-align: center;
}

h1 {
    margin-top: 20px;
    color: white;
    font-size: 50px;
}

button {
    margin-top: 50px;
    font-size: 20px;
    height: 250px;
    width: 250px;
}

