<div class="container" *ngIf="!tab">
  <div class="row">
    <div class="col-md-12">
      
      <h1>Bienvenue dans TabManager !</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 centered">
      <mat-form-field>
        <mat-label>Entrez l'id du channel</mat-label>
        <input type="text" matInput placeholder="Faites t!id dans le channel" (keyup)="onKey($event.target.value)">
      </mat-form-field> <br>
      <button mat-fab color="primary" (click)="tab = !tab">Nouveau tableau</button>
    </div>
  </div>
</div> 

<app-table *ngIf="tab" [channelID]="channelID"></app-table>
